version: '3.8'

services:
  react-app:
    build:
      context: ./Login-Page-In-React
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - spring-server
    networks:
      - app-network

  spring-server:
    build:
      context: ./demo
      dockerfile: Dockerfile
    ports:
      - "8989:8989"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - app-network
  openldap:
    image: osixia/openldap:latest
    container_name: openldap
    environment:
      LDAP_BASE_DN: "dc=example,dc=org"
      LDAP_ORGANISATION: "Example Organization"
      LDAP_DOMAIN: "example.org"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_TLS: "false"             # deactivate TLS for the LDAP server
    volumes:
      - ./ldap/bootstrap.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-bootstrap.ldif
    networks:
      - app-network
    ports:
      - "389:389"                   # default port for unsecured LDAP
    command: --copy-service
    restart: unless-stopped
  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
      PHPLDAPADMIN_HTTPS: "false"   # deactivate HTTPS
    networks:
      - app-network
    ports:
      - "8081:80"
    restart: unless-stopped
    depends_on:
      - openldap
networks:
  app-network:
    driver: bridge
